
    body{
      margin: 0;
      font-family: raleway;
    }

  #hero{

    background-size: cover;
    background-position: center;

    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    color: white;

    text-shadow: 0 0 10px black;
  }

  #images{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  .thumbcontainer{
    flex-grow: 1;
    flex-basis: 200px;
    padding:10px;
  }

  .thumb{
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;

    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .thumb:hover{
    opacity: 0.7;
  }

header{
  width: auto;
  position: fixed;
  background-color: #4391cf;
  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  padding-right: 10px;

  cursor: pointer;

  transition: padding 0.4s;
}

header:hover{
  padding: 0 20px;
}

.arrow{
  font-size: 40px;
  padding: 0 20px;
}

.backtext{
  font-size: 20px;
  font-weight: bold;
}

#largepreview{
  max-height: 100vh;
  width: 100%;

  background-color: #000;

  text-align: center;
}

#lpimg{
  animation: fade 1s;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

#infobox{
  width: 100%;

  font-size: 20px;
  padding: 100px;
  box-sizing:border-box;
  background-color:#3d3e9a;
  color: #fff;
}

#info{
  max-width: 700px;
  margin: auto;
}
