body{
  margin:0;
  font-family: raleway, helvetica, arial, sans-serif;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{

  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;

  background-image:url(/img/header/background.jpg);
  background-position-y: bottom;
  background-size:cover;
  background-position-x: center;

  @keyframes float {
    0%{
      margin-top: -20%;
    }
    40%{
      margin-top: -21%;
    }
    100%{
      margin-top: -20%;
    }
  }

  #icons{
    display: flex; 
    justify-content:center; 
    align-items: center;
    position: absolute;
    top: 20px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding-bottom: 80px;
  }

  #icons a{
    width: 25px;
    padding: 10px;
    color:white;
    text-decoration: none;
    transition: opacity 0.3s;
  }

  #icons  a img{
    width: 100%;
    max-width: 100px;
    opacity: 0.8;
  }

  #icons  a:hover{
    opacity: 0.5;
  }

  #logo{
    animation: float 3s infinite ease-in-out;
    height: 35%;
    margin-top:-20%;
  }


}

.container{
  max-width: 1500px;
  margin: auto;
  padding: 0 50px;
}

.section{
  padding: 60px 0 40px;
  font-weight: 500;

  h1{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 800;
  }
  p{
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 2px;
    margin: 10px auto;
    font-size: 18px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  //background: #3e4298;
  color: white;
  background: #3471b8;

  &:nth-child(odd){
    //background: #3471b8;
    
  }

  ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li{
      width: 25%;
      flex-shrink: 1;
      @media (max-width: 1000px){
        width: 50%;
      }
      a{
        display: block;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0,0,0,0.6);
        cursor: zoom-in;
        .background{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center;
          transition: transform 0.3s;
        }
        &:hover{
          .background{
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.background-zone{
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  //transition: opacity 0.1s, visibility 0.1s;
  cursor: zoom-out;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}

@keyframes popscaleup{
  from{
    opacity: 0;
    transform: translateX(-50%) scale(0.9);
  }
  to{
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}


.page{
  position: absolute;
  top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  max-width: 1000px;
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 0 30px;

  visibility: hidden;
  opacity: 0;
  //transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  transform-origin: top center;
  max-height: 0;
  overflow: hidden;
  &.active{
    opacity: 1;
    visibility: visible;
    max-height: 9999vh;
    //transition: opacity 0.3s, visibility 0.3s, height 0.3s;
    //animation: popscaleup 0.3s;
  }

  h1{
    margin: 50px 0 30px;
  }


  img{
    width: calc( 100% + 60px);
    margin-left: -30px;
  }

  img:first-child{
    margin-top: 10px;
  }
}